/* Import Google font Open-Sans to set as default font family */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  /* Set no extra padding and margin to all elements */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Set general font-size and font weight */
  font-size: 100%;
  font-weight: 300;
}

html {
  /* Set default font family to Open Sans and font size to 10px */
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  /* Prevent horizontal scrolling */
  overflow-x: hidden;
  width: 100%;
}

body {
  /* Prevent horizontal scrolling */
  overflow-x: hidden;
  width: 100%;
}
